<launch>

    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">

        <remap from="cloud_in" to="/os1_cloud_node/points"/>
        <rosparam>
            target_frame: "os1_lidar"
            transform_tolerance: 0.01
            min_height: 0.0
            max_height: 1.0

            angle_min: -3.14 # -M_PI
            angle_max: 3.14 # M_PI
            angle_increment: 0.0087 # M_PI/360.0
            scan_time: 0.3333
            range_min: 0.45
            range_max: 10.0
            use_inf: true

            # Concurrency level, affects number of pointclouds queued for processing and number of threads used
            # 0 : Detect number of cores
            # 1 : Single threaded
            # 2->inf : Parallelism level
            concurrency_level: 0
        </rosparam>
    </node>

    <!-- run tf transform -->  
    <node pkg="tf" type="static_transform_publisher" name="robot_transform" args="0 0 0 0 0 0 1 camera_pose_frame os1_lidar 100"/> 
    <node pkg="tf" type="static_transform_publisher" name="robot_transform1" args="0 0 0 0 0 0 1 camera/odom/sample world 100"/> 

    <!-- run gmapping to create the map -->  
    <param name="use_sim_time" value="true" />
    <node pkg="gmapping" type="slam_gmapping" name="gmapping_node" output="screen" >
      <param name="odom_frame" value="camera/odom/sample" />
      <param name="base_frame" value="camera_pose_frame" />
    </node>
    
</launch>
