<launch>

    <!-- run tf transform -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="base_transform" args="0 0 0 0 0 0 Robot_1/base_link base_link"/> 
    <node pkg="tf2_ros" type="static_transform_publisher" name="sensor_transform" args="0 0 0 3.14 0 0 base_link os1_sensor"/> 
    <node pkg="tf2_ros" type="static_transform_publisher" name="odom_transform" args="0 0 0 0 0 0 odom world"/> 
    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_transform" args="0 0 0 0 0 0 os1_sensor os1_lidar"/>


    <!-- run pointcloud_to_laserscan node -->
    <node pkg="pointcloud_to_laserscan" type="pointcloud_to_laserscan_node" name="pointcloud_to_laserscan">
        <remap from="cloud_in" to="/os1_cloud_node/points"/>
        <rosparam>
            transform_tolerance: 0.01
            scan_time: 0.001
            range_min: 0.2
            range_max: 10.0
            use_inf: true
            concurrency_level: 0
        </rosparam>
    </node>


    <!-- run gmapping to create the map -->  
    <param name="use_sim_time" value="true" />
    <node pkg="gmapping" type="slam_gmapping" name="gmapping_node_optitrack" output="screen" >
      <param name="odom_frame" value="odom" />
      <param name="base_frame" value="base_link" />
      <param name="map_udpate_interval" value="0.001"/>
      <param name="maxUrange" value="10.0"/>
      <param name="sigma" value="0.02"/>
      <param name="kernelSize" value="1"/>
      <param name="lstep" value="0.2"/>
      <param name="astep" value="0.2"/>
      <param name="iterations" value="15"/>
      <param name="lsigma" value="0.1"/>
      <param name="ogain" value="5.0"/>
      <param name="lskip" value="1"/>
      <param name="srr" value="0.1"/>
      <param name="srt" value="0.2"/>
      <param name="str" value="0.1"/>
      <param name="stt" value="0.2"/>
      <param name="linearUpdate" value="0.01"/>
      <param name="angularUpdate" value="0.01"/>
      <param name="temporalUpdate" value="0.001"/>
      <param name="resampleThreshold" value="0.5"/>
      <param name="particles" value="50"/>
      <param name="xmin" value="-30.0"/>
      <param name="ymin" value="-30.0"/>
      <param name="xmax" value="30.0"/>
      <param name="ymax" value="30.0"/>
      <param name="delta" value="0.06"/>
      <param name="llsamplerange" value="0.01"/>
      <param name="llsamplestep" value="0.05"/>
      <param name="lasamplerange" value="0.05"/>
      <param name="lasamplestep" value="0.05"/>
    </node>
    
</launch>
